#page-container {
    position: relative;
    min-height: 100vh;
  }

img {
    max-height: 100%;
    max-width: 100%;
    padding: 10px;
}

body {
    background-image: url(Images/5-ultima.jpg);
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
}

header {
    background-color: #FFFDEE;
    height: 30px;
    padding: 10px;
    
}

h1 {
    display: inline;
    text-align: left;
    font-size: 20px;
}

h3 {
    display: inline;
    color: #FFFDEE;
    text-align: left;
    font-size: 25px;
}

nav {
    position: absolute;
    top: 15px;
    right: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    display: inline;
    float: left;
    height: 5px;
    width: 135px;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
}

ul li a {
    display: inline;
    color: #664A4A;
    text-decoration: none;
    
}

ul li a:hover {
    background-color: #664A4A;
    line-height: 10px;
    text-decoration: underline;
}

p {
    margin: auto;
    padding: 20px;
    width: 600px;
    text-align: center;
    font-size: 17px;
    line-height: 20px;
}

.differentiating {
    padding: 10px 0;
}

.content-differentiating {
    width: 640px;
    margin: 0 auto;
}

.list-differentiating {
    width: 100%;
    padding: 5px;
    vertical-align: top;
}

.item {
    margin: 10px;
    line-height: 15px;
}

.video {
    height: min-content;
    width: min-content;
    margin: 5px auto;
}

.map-content {
    height: min-content;
    width: min-content;
    margin: 5px auto;
}

footer {
    height: 25px;
    text-align: center;
    padding: 15px;
    background-color: #664A4A;
}

.copyright {
    display: inline;
    color: #FFFDEE;
    text-align: center;
    font-size: 15px;
}